
body {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhai 2', cursive;
}

.container{
    width: auto;
    height: 965px;
    border: 2px solid brown;    
    background: url('img/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.header{
    width: auto;
    height: auto;
}

.left{
    position: absolute;
    display: inline-block;
    top: 40px;
    left: 80px;
    text-align: center;
}

.left img{
    width: 70px;
}

.left div {
    text-align: center;
    margin-top: 10px;
}

.left:hover {
    cursor: pointer;
}

.mid {
    display: block;
    width: 50%;
    margin: 20px auto;
    text-align: center;
    padding: 15px 10px;
}

.right {
    display: inline-block;
    position: absolute;
    top: 40px;
    right: 50px;
}
.navbar {
    display: inline-block;
    
}

.navbar-item a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding: 5px 20px;
}

.navbar li {
    display: inline-block;
    padding: 10px;
}

.navbar li a:hover {
    color: gray;
}

.right li {
    display: inline-block;
    margin: 5px 10px;
}
.right li a {
    text-decoration: none;
    font-size: 15px;
}

.right li a:hover {
    color: gray;
}

.registerForm {
    width: 33%;
    margin: 80px 65px;
    padding: 2px 2px;
}

.registerForm h3 {
    text-align: center;
}

.form-group input{
    display: block;
    width: 50%;
    padding: 5px;
    margin: 8px auto;
    text-align: center;
    border-radius: 5px;
    font-family: 'Baloo Bhai 2', cursive;
}

.submit {
    display: block;
    width: 52%;
    border-radius: 5px;
    font-family: 'Baloo Bhai 2', cursive;
    margin: 15px auto;
    color: gray;
}
